
/***************** HEADER ************************/

.header-container {
    display:inline-flex;
    flex-wrap: wrap;
    
}

 
header .title-header {
/* margin-right: 300px; */
margin-left: 100px;
padding-top: 40px;
font-size: 4rem;

}
header .nav-bar {
    margin-left: 300px;
    font-size: 2rem;
}




/***************** BODY************************/
.main-exchange-container {

    display:flex;
   

}
    
.main-exchange-container--description{
    margin-top: 50px;
    width: 100%;  
    margin-left: 20px;
}


.main-exchange-container .profile-pic {
    width: 320px;
    height: 450px;
  
}